@use "../abstracts/variables";
@use "../abstracts/mixins" as m;

.contact {
	height: 100%;

	&__wrapper {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;

		@include m.respond(tab-port) {
			flex-direction: column;
			gap: 4rem;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}

	&__left {
		width: 70%;
		height: 100%;
		display: flex;
		flex-direction: column;

		@include m.respond(tab-port) {
			width: 100%;
		}

		&--form {
			width: 60%;

			@include m.respond(tab-port) {
				width: 100%;
			}
		}

		&--label {
			display: block;
			margin-bottom: 0.6rem;
			font-size: var(--fontsize-normal);
			color: var(--color-less);
		}

		&--inp {
			width: 100%;
			padding: 1.2rem;
			outline: none;
			border: none;
			border-bottom: 5px solid var(--color-main);
			background-color: #fff;
			margin-bottom: 1.6rem;
			border-radius: var(--border-radius);
			font-family: inherit;
			font-size: var(--fontsize-normal);

			&:focus {
				border-bottom: 5px solid var(--color-valid);
			}

			&:focus:invalid {
				border-bottom: 5px solid var(--color-error);
			}
		}

		&--select {
			width: 100%;
			padding: 1.2rem;
			margin-bottom: 1.6rem;
			background-color: #fff;
			outline: none;
			border: none;
			font-family: inherit;
			font-size: var(--fontsize-normal);
			border-radius: var(--border-radius);
			border-bottom: 5px solid var(--color-main);

			&:focus {
				border-bottom: 5px solid var(--color-valid);
			}

			&:focus:invalid {
				border-bottom: 5px solid var(--color-error);
			}
		}

		&--area {
			width: 100%;
			height: 400px;
			resize: none;
			padding: 1.2rem;
			margin-bottom: 1.6rem;
			background-color: #fff;
			outline: none;
			border: none;
			border-bottom: 5px solid var(--color-main);
			border-radius: var(--border-radius);
			font-family: inherit;
			font-size: var(--fontsize-normal);

			&:focus {
				border-bottom: 5px solid var(--color-valid);
			}

			&:focus:invalid {
				border-bottom: 5px solid var(--color-error);
			}

			@include m.respond(phone) {
				height: 300px;
			}
		}

		&--btn {
			width: 100%;
			padding: 1.2rem;
			border: 3px solid var(--color-bg);
			border-radius: var(--border-radius);
			cursor: pointer;
			background-color: var(--color-accent);
			color: var(--color-font);
			font-size: 1.8rem;
			font-weight: 700;
			letter-spacing: 1px;
			transition: all 0.3s;

			&:hover {
				background-color: transparent;
				color: var(--color-accent);
				border: 3px solid var(--color-accent);
			}

			&:active {
				background-color: var(--color-active);
				border: 3px solid var(--color-active);
				color: var(--color-font);
			}
		}
	}

	&__right {
		width: 30%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		@include m.respond(tab-port) {
			width: 100%;
		}

		&--container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 1.6rem;

			@include m.respond(tab-port) {
				flex-direction: row;
				justify-content: space-between;
			}

			@include m.respond(phone) {
				flex-direction: column;
				justify-content: center;
			}
		}

		&--link:link,
		&--link:visited {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.8rem;
			color: var(--color-less);
			text-decoration: none;
			transition: color 0.3s;
		}

		&--link:hover {
			color: var(--color-accent);
		}

		&--link:active {
			color: var(--color-active);
		}

		&--icon {
			font-size: 5rem;
		}

		&--text {
			font-size: 1.8rem;
		}
	}
}
