@use "../abstracts/variables";
@use "../abstracts/mixins" as m;

.contact {
	&__main {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&--wrapper {
			width: 50%;

			@include m.respond(tab-port) {
					width: 70%;
				}
		}

		&--form {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		&--inp {
			width: 100%;
			padding: 1rem 1rem;
			outline: none;
			border: none;
			border-bottom: 5px solid var(--color-main);
			background-color: #fff;
			margin-bottom: 1.6rem;
			border-radius: var(--border-radius);
			font-family: inherit;
			font-size: var(--fontsize-normal);

			&:focus {
				border-bottom: 5px solid var(--color-main);
			}

			&:focus:invalid {
				border-bottom: 5px solid var(--color-error);
			}
		}

		&--area {
			width: 100%;
			height: 400px;
			resize: none;
			padding: 1rem 1rem;
			margin-bottom: 1.6rem;
			background-color: #fff;
			outline: none;
			border: none;
			border-bottom: 5px solid var(--color-main);
			border-radius: var(--border-radius);
			font-family: inherit;
			font-size: var(--fontsize-normal);

			&:focus {
				border-bottom: 5px solid var(--color-valid);
			}

			&:focus:invalid {
				border-bottom: 5px solid var(--color-error);
			}
		}

		&--btn {
			width: 100%;
			padding: 1rem 2rem;
			border: 3px solid var(--color-bg);
			border-radius: var(--border-radius);
			cursor: pointer;
			background-color: var(--color-accent);
			color: var(--color-font);
			font-size: 1.8rem;
			font-weight: 700;
			letter-spacing: 1px;
			transition: all 0.3s;

			&:disabled {
				background-color: var(--color-less);
			}

			&:hover {
				background-color: transparent;
				color: var(--color-accent);
				border: 3px solid var(--color-accent);
			}

			&:active {
				background-color: var(--color-active);
				border: 3px solid var(--color-active);
				color: var(--color-font);
			}
		}
	}
}
