@use "../abstracts/variables";
@use "../abstracts/mixins" as m;

.landing {
	&__left {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		z-index: 555;

		@include m.respond(tab-land) {
			align-items: center;
		}

		&--emote {
			font-size: 3.6rem;
			margin-bottom: -1rem;
		}

		&--job {
			font-size: 2rem;
			font-weight: 300;
			margin-top: -0.6rem;
		}

		&--buttons {
			width: 100%;
			margin-top: 2.4rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 2.4rem;
		}
	}

	&__right {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		z-index: 444;

		@include m.respond(tab-land) {
			display: none;
		}

		&--img {
			height: 90%;
			width: auto;

			@include m.respond(big) {
				height: 100%;
			}
		}
	}
}
