@use "../abstracts/variables";
@use "../abstracts/mixins" as m;

.landing {
	&__left {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		&--emote {}

		&--jobb {}

		&--buttons {}
	}

	&__right {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;

		&--img {
			height: 100%;
			width: auto;
		}
	}
}
