@use "../abstracts/variables";
@use "../abstracts/mixins" as m;

.navigation {
	min-width: 100%;
	background-color: var(--color-bg);
	position: fixed;
	top: 0;
	left: 0;
	font-size: var(--fontsize-normal);
	z-index: 9999;

	&__nav {
		display: block;

		@include m.respond(tab-land) {
			display: none;
		}
	}

	&__img {
		height: 75%;
		width: auto;

		img {
			height: 100%;
			width: auto;
		}
	}

	&__list {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		text-align: center;

		&--item {
			width: 100px;
			height: 32px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			border-radius: var(--border-radius);
		}

		&--item::before {
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: var(--color-main);
			border-radius: var(--border-radius);
			transform: scaleX(0);
			transform-origin: right;
			transition: all 0.25s;
			z-index: 9;
		}

		&--item:hover::before {
			transform: scaleX(1);
		}

		&--item:hover &--link {
			color: var(--color-font);
		}

		&--item:active::before {
			background-color: var(--color-accent);
		}

		&--link:link,
		&--link:visited {
			text-decoration: none;
			color: var(--color-main);
			z-index: 9998;
		}

		&--lan:link,
		&--lan:visited {
			text-decoration: none;
			color: var(--color-less);
			transition: 0.3s;
			border-left: 2px solid var(--color-less);
			padding-left: 1rem;
		}

		&--lan:hover {
			color: var(--color-accent);
		}

		&--lan:active {
			color: var(--color-active);
		}
	}
}

.navcontainer {
	width: 100%;
	height: 7rem;
	margin: auto;
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	@include m.respond(big) {
		width: 1400px;
		padding: 0;
	}
}

.nav-mobile {
	display: none;

	@include m.respond(tab-land) {
		display: block;
	}

	&__button {
		width: 30px;
		height: 30px;
		z-index: 99999;
		position: fixed;
		top: 25px;
		right: 25px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		@include m.respond(tab-land) {
			top: 30px;
			right: 30px;
		}

		@include m.respond(phone) {
			top: 25px;
			right: 25px;
		}
	}

	&__icon {
		position: relative;
		width: 30px;
		height: 4px;
		display: block;
		background-color: var(--color-main);
		transition: all 0.4s;

		&::before {
			content: "";
			width: 30px;
			height: 4px;
			background-color: var(--color-main);
			position: absolute;
			top: -10px;
			left: 0;
			transition: all 0.4s;
		}

		&::after {
			content: "";
			width: 30px;
			height: 4px;
			background-color: var(--color-main);
			position: absolute;
			top: 10px;
			left: 0;
			transition: all 0.4s;
		}
	}

	&__container {
		background-color: var(--color-bg);
		height: 100%;
		width: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		z-index: 9999;
		transition: all 0.4s;
		padding: 2.6rem 0;

		&--list {
			list-style: none;
		}

		&--item {
			margin-bottom: 4.6rem;
			font-size: 1.8rem;
		}

		&--link:link,
		&--link:visited {
			text-decoration: none;
			color: var(--color-main);
			font-size: 1.8rem;
		}

		&--placeholder {
			width: 100%;
			height: 5px;
		}
	}

	&__backdrop {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: var(--color-main);
		z-index: 9998;
		opacity: 0;
		top: 0;
		right: 0;
		transition: all 0.2s;
	}

	&__checkbox {
		display: none;
	}

	&__checkbox:checked ~ &__backdrop {
		opacity: 96%;
	}

	&__checkbox:checked ~ &__container {
		width: 200px;
		opacity: 1;
		padding: 2.6rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::before {
		transform: rotate(135deg);
		top: 0;
	}

	&__checkbox:checked + &__button &__icon::after {
		transform: rotate(-135deg);
		top: 0;
	}
}
