@use "../abstracts/variables";
@use "../abstracts/mixins" as m;

.projects {
	width: 1100px;
	height: 500px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20rem;

	@include m.respond(big) {
		width: 1400px;
		padding: 0;
	}

	@include m.respond(tab-port) {
		width: 500px;
		height: 800px;
	}

	@include m.respond(phone) {
		height: 600px;
		width: 300px;
	}

	&__text {
		color: var(--color-font) !important;
	}

	&__slides {
		width: 300%;
		height: 100%;
		display: flex;

		&--radio {
			position: absolute;
			visibility: hidden;
		}

		&--nav {
			display: flex;
			gap: 1.6rem;
			position: absolute;
			left: 50%;
			bottom: 20px;
			transform: translateX(-50%);
		}

		&--label {
			width: 50px;
			height: 20px;
			border: 3px solid var(--color-less);
			border-radius: var(--border-radius);
			transition: background-color 0.3s;
			cursor: pointer;

			&:hover {
				background-color: var(--color-less);
			}
		}

		&--slide {
			width: 33.34%;
			height: 100%;
			display: flex;
			transition: 1.5s;
			opacity: 0;

			@include m.respond(tab-port) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			&--left {
				width: 50%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding-left: 0.1rem;

				@include m.respond(tab-port) {
					width: 100%;
					align-items: flex-start;
				}
			}

			&--right {
				width: 50%;
				height: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				@include m.respond(tab-port) {
					justify-content: center;
					width: 100%;
				}

				& img {
					height: auto;
					width: 100%;
				}
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 2rem;
	}
}

.label-active {
	background-color: var(--color-less);
}

#r1:checked ~ .s1 {
	margin-left: 0;
}

#r1:checked ~ .s1 {
	opacity: 1;
}

#r2:checked ~ .s1 {
	margin-left: -33.34%;
}

#r2:checked ~ .s2 {
	opacity: 1;
}

#r3:checked ~ .s1 {
	margin-left: -66.68%;
}

#r3:checked ~ .s3 {
	opacity: 1;
}

.aside {
	width: 1100px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8rem;

	@include m.respond(big) {
		width: 1400px;
	}

	@include m.respond(tab-port) {
		flex-direction: column;
		width: 500px;
	}

	@include m.respond(phone) {
		width: 300px;
	}

	&__item {
		width: 50%;
		height: 100%;
		background-color: var(--color-less);
		border-radius: var(--border-radius);
		overflow: hidden;

		@include m.respond(tab-port) {
			width: 100%;
		}

		&--img {
			width: 100%;
			height: auto;
		}

		&--text {
			font-size: 1.8rem;
		}

		&--top {
			width: 100%;
		}

		&--bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2rem;
			background-color: var(--color-less);
		}
	}
}
