@use "../abstracts/variables";

h1 {
	font-size: 6rem;
}

h3 {
	color: var(--color-main);
	font-size: 3.6rem;
	margin-bottom: 3.6rem;
	// text-align: center;
}

h4 {
	color: var(--color-main);
	font-size: 2rem;
	margin-bottom: 1.2rem;
}

h5 {
	color: var(--color-main);
	font-size: 1.6rem;
	margin-bottom: 0.4rem;
}

.paragraph {
	font-size: var(--fontsize-normal);
	line-height: var(--font-lineheigth);
	margin-bottom: 1.2rem;
	color: var(--color-main);
	line-break: strict;
}

.paragraph-wm {
	font-size: var(--fontsize-normal);
	line-height: var(--font-lineheigth);
	color: var(--color-main);
}
