:root {
	// FONT
	--font: "Lato", sans-serif;
	--fontsize-normal: 1.8rem;
	--font-lineheigth: 1.2;

	// COLORS
	--color-bg: #E9ECEF;
	--color-accent: #228BE6;
	--color-main: #26292D;
	--color-font: #E9ECEF;
}