:root {
	// FONT
	--font: "Lato", sans-serif;
	--fontsize-normal: 1.6rem;
	--font-lineheigth: 1.4;

	// COLORS
	--color-bg: #E9ECEF;
	--color-accent: #228BE6;
	--color-hover: #74c0fc;
	--color-active: #1b6fb8;
	--color-main: #26292D;
	--color-font: #E9ECEF;
	--color-less: #515457;
	--color-error: #e03131;
	--color-valid: #37b24d;

	// VARIOUS
	--border-radius: 6px;
}